<h1>Welcome, <%= @company %>!</h1>
<%= link_to 'Download all resumes', "/companies/#{@company.id}/resumes", class: 'download-resumes' %>

<br />
<br />
<br />

<script>
  var embedders = {};
</script>

<div class="row resume-row">
  <% @company.resumes.each do |resume| %>
      <div class="embedded-container col-md-4">
        <div id="resume-<%= resume.id %>" class="embedded"></div>
        <div class="resume-owner">
          <%= resume.user %>
        </div>
      </div>
  <% end %>

  <script>
    <% @company.resumes.each do |resume| %>
    embedders["resume-<%= resume.id %>"] = "/<%= resume.uri %>";
    <% end %>
  </script>
</div>

<script>
  $('.embedded').each(function () {
    var el = $(this);
    var handler = onVisibilityChange(el, function(isVisible) {
      if (isVisible && !el.data('embedded')){
        el.data('embedded', true);
        var container = el.closest('.embedded-container');
        container.hide();
        container.find('.resume-owner').show();
        PDFObject.embed(embedders[el[0].id], el);
        container.fadeIn(1000);
      }
    }, {
      preload: 350
    });

    //jQuery
    $(window).on('DOMContentLoaded load resize scroll page:load', handler);
  });
</script>