<p id="notice"><%= notice %></p>

<% if @resumes.empty? %>
    <h1>You have no resumes uploaded</h1>
<% else %>
    <h1>Listing Resumes</h1>

    <% if @primary.present? %>
        <h3>Primary Resume: <%= link_to @primary, @primary %></h3>
    <% end %>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @resumes.each do |resume| %>
          <tr>
            <td><%= link_to resume, resume %></td>
            <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
            <td><%= link_to 'Remove', resume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Download', "/#{resume.uri}", target: '_blank' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>

<br>

<%= link_to 'Add a resume', new_resume_path %>
