<p id="notice"><%= notice %></p>

<h1>
  <%= @resume.to_s %>
</h1>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>

<br />
<br />

<div id="resume" style="height: 1000px;"></div>

<script>
  PDFObject.embed("/<%= @resume.uri %>", "#resume");
</script>